@media only screen and (max-width: 400px) {
    .pop-up {
        width: 90%;
        left: 5%;
    }

    .carousel-card {
        flex-direction: column;
        width: 100%;
    }

    .carousel-card__photo-container {
        height: 40%;
    }

    .photo-container__photo {
        border-radius: 40px;
        height: 100%;
    }

    .carousel-card__text-container {
        text-align: center;
        height: 60%;
    }

    #content__location {
        width: 95%;
        height: 55vh;
    }

    .pop-up {
        text-align: center;
    }

    #welcome-section__greetings {
        text-align: center;
        padding: 0 1%;
    }    
}
  

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .pop-up {
        width: 90%;
        left: 5%;
    }

    .carousel-card {
        flex-direction: column;
        width: 100%;
    }

    .carousel-card__photo-container {
        height: 40%;
    }

    .photo-container__photo {
        border-radius: 40px;
        height: 100%;
    }

    .carousel-card__text-container {
        text-align: center;
        height: 60%;
    }

    #content__location {
        width: 80%;
        height: 55vh;
    }
}

@media only screen and (min-width: 961px) {
    .pop-up {
        width: 50%;
        left: 25%;
    }

    .carousel-card__photo-container {
        width: 40%;
        height: 50%;
    }

    .photo-container__photo {
        border-radius: 40px;
        width: 60%;
    }

    .carousel-card__text-container {
        width: 60%;
        height: 100%;
    }

    #content__location {
        width: 55%;
        height: 50vh;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #b0bec5 #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #b0bec5;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.btn-main {
    background-color: #38d9a9;
    color: white;
    border: 0;
    margin: 1% auto 0 auto;
    width: 100%;
    height: auto;
}

.btn-main:hover {
    background-color: #20c997;
    color: white;
}

#content__header {
    width: 100%;
    height: 40px;
    background-color: #212529;
    display: flex;
    align-items: center;
}

#header__news-feed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-feed__i {
    color: #ff7043;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

#content__welcome-section {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section__greetings {
    text-align: center;
}

#welcome-section__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#content__navbar {
    background-color: #212529;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

#content__food {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
    padding: 1vh;
}

#food__heading {
    text-align: center;
}

#food__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#food__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.pop-up {
    margin: auto;
    position: fixed;
    top: 5%;
    z-index: 101;
    display: none;
    animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#food__root-button {
    width: 35vh;
    display: none;
}

#food__order-button {
    width: 35vh;
}

.cards__root-buttons {
    margin: 1% 0; 
    display: none; 
    width: 49%;
}

.news-feed__fire-icons {
    height: 23px;
    width: 23px;
}

#cards__root-buttons-delete {
    background-color: #f44336;
}

#cards__root-buttons-delete:hover {
    background-color: #e53935;
}

#cards__root-buttons-edit {
    background-color: #03a9f4;
}

#cards__root-buttons-edit:hover {
    background-color: #039be5;
}

#content__footer {
    background-color: #212529;
    padding: 2%;
    margin-top: 5%;
}

.container__heading {
    text-align: center;
}

.container__text {
    text-align: center;
}

.container__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.social-links__link {
    margin: 0 0 40px 0;
}

.link__i {
    background-color: #38d9a9;
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin: 0 5px;
}

.link__i:hover {
    background-color: #20c997;
}

#container__copyright-credits {
    margin-top: 3%;
    text-align: center;
}

.carousel-card {
    padding-top: 1%;
    width: 55%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card__photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-card__text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content__location {
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

#modal-body__ordered-food-price {
    display: inline-block;
}

#card-body__price {
    display: inline;
}