@media only screen and (max-width: 400px) {
    .pop-up {
        width: 90%;
        left: 5%;
    }

    .carousel-card {
        flex-direction: column;
        width: 100%;
    }

    .carousel-card__photo-container {
        height: 40%;
    }

    .carousel-card__photo-container__photo {
        border-radius: 40px;
        height: 100%;
    }

    .carousel-card__text-container {
        text-align: center;
        height: 60%;
    }
}
  

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .pop-up {
        width: 90%;
        left: 5%;
    }

    .carousel-card {
        flex-direction: column;
        width: 100%;
    }

    .carousel-card__photo-container {
        height: 40%;
    }

    .carousel-card__photo-container__photo {
        border-radius: 40px;
        height: 100%;
    }

    .carousel-card__text-container {
        text-align: center;
        height: 60%;
    }
}

@media only screen and (min-width: 961px) {
    .pop-up {
        width: 50%;
        left: 25%;
    }

    .carousel-card__photo-container {
        width: 40%;
        height: 50%;
    }

    .carousel-card__photo-container__photo {
        border-radius: 40px;
        width: 60%;
    }

    .carousel-card__text-container {
        width: 60%;
        height: 100%;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #b0bec5 #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #b0bec5;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.btn-primary {
    background-color: #38d9a9;
    border: 0;
    margin: 1% 0;
    width: 100%;
}

.btn-primary:hover {
    background-color: #20c997;
}

.links {
    color: #38d9a9;
}

.links:hover {
    color: white;
    transition-duration: 0.3s;
}

#content__header {
    width: 100%;
    height: 40px;
    background-color: #212529;
    display: flex;
    align-items: center;
}

#content__header__news-feed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content__header__news-feed i {
    color: #ff7043;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

#content__welcome-section {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content__welcome-section__greetings {
    text-align: center;
}

#content__welcome-section__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#content__navbar {
    background-color: #212529;
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

#content__food {
    width: 100%;
    margin-top: 2vh;
    padding: 1vh;
}

#content__food__heading {
    text-align: center;
}

#content__food__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pop-up {
    margin: auto;
    position: fixed;
    top: 5%;
    z-index: 101;
    display: none;
    animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

#content__food__root-button {
    width: 20%;
    border-radius: 6px;
    display: none;
    margin: 0 auto 3% auto;
    padding: 1%;
}

.content__food__cards__root-buttons {
    margin: 1% 0; 
    display: none; 
    width: 49%;
}

.content__header__news-feed__fire-icons {
    height: 23px;
    width: 23px;
}

#content__food__cards__root-buttons-delete {
    background-color: #f44336;
}

#content__food__cards__root-buttons-delete:hover {
    background-color: #e53935;
}

#content__food__cards__root-buttons-edit {
    background-color: #03a9f4;
}

#content__food__cards__root-buttons-edit:hover {
    background-color: #039be5;
}

#content__footer {
    background-color: #212529;
    padding: 2%;
}

.content__footer__container__heading {
    text-align: center;
}

.content__footer__container__text {
    text-align: center;
}

.content__footer__container__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.content__footer__container__social-links__link {
    margin: 0 0 40px 0;
}

.content__footer__container__social-links__link i {
    background-color: #38d9a9;
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin: 0 5px;
}

.content__footer__container__social-links__link i:hover {
    background-color: #20c997;
}

#content__footer__container__copyright-credits {
    margin-top: 3%;
    text-align: center;
}

.carousel-card {
    padding-top: 1%;
    width: 55%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-card__photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-card__text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content__location {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}